* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
}

#wrapper2 {
    margin-top:3%;
}

.mainbtns {
    margin: 10%;
    padding: 3%;
}

#btns-container a{
    text-decoration: none;
    color: white;
}

img {
width: 5vw;
height: 5vw;
}


form, header {
    margin-left: 7%;
}

h1 {
    margin-bottom: 50px;
}

.back a {
    color: black;
    background-color: rgb(160, 160, 255);
    width: 100px;
    text-align: center;
    text-decoration: none;
}